<div class="overlay-box">
  <div class="title">{{ data.name }}</div>
  <div class="details">
    <p><strong>Ordungszahl:</strong> {{ data.id }}</p>
    <p><strong>Symbol:</strong> {{ data.symbol }}</p>
    <p><strong>Atommasse:</strong> {{ data.atomicMass }}</p>
    <p><strong>Aggregatzustand:</strong> {{ data.state.name }}</p>
    <p><strong>Kategorie:</strong> {{ data.category.name }}</p>
    <p><strong>Siedepunkt (K):</strong> {{ data.boilingPoint }}</p>
    <p><strong>Schmelzpunkt (K):</strong> {{ data.meltingPoint }}</p>
    <p><strong>Elektronegativität:</strong> {{ data.electroNegativity }}</p>
    <p><strong>Dichte (g/cm³):</strong> {{ data.density }}</p>
    <p><strong>Entdeckt:</strong> {{ data.discovered }}</p>
    <p><strong>Oxidationszahlen:</strong> {{ data.oxidationStates }}</p>
  </div>
</div>
